tags = {
  "Owner" = "user@mail.com"
}

workspaces = [
  {
    private_subnet_pair = { subnet1_cidr = "10.109.6.0/23", subnet2_cidr = "10.109.8.0/23" }
    workspace_name      = "workspace_name"
    prefix              = "prefix" // prefix decides subnets name
    root_bucket_name    = "root_bucket_name"
    tags = {
      "Name" = "Name",
      "Env"  = "env"
      "Owner" = "user@mail.com"
    }
    workspace_admins    = ["user@mail.com"]
    catalog_name        = "catalog_name"
    catalog_force_destroy = true
    catalog_isolation_mode = "ISOLATED"
    catalog_reuse_root_bucket = true
    private_dns_enabled = true
  }, //Comment out second entry if you don't need two workspaces
  {
    private_subnet_pair = { subnet1_cidr = "10.109.10.0/23", subnet2_cidr = "10.109.12.0/23" }
    workspace_name      = "workspace_name1"
    prefix              = "prefix1" // prefix decides subnets name
    root_bucket_name    = "root_bucket_name1"
    tags = {
      "Name" = "Name",
      "Env"  = "env"
      "Owner" = "user@mail.com"
    }
    workspace_admins    = ["user@mail.com"]
    catalog_name        = "catalog_name1"
    catalog_force_destroy = true
    catalog_isolation_mode = "ISOLATED"
    catalog_reuse_root_bucket = true
    private_dns_enabled = false //Must be false when deploying multiple workspaces
  }
]

metastore_id = "metastore_id"
